block const
-
    const title  = `EGO Systems${name ? ' - ' + name : ''}`;
    const descr  = 'EGO Systems';
    const domain = 'ego.salex.pro'

mixin icon(name, size, fill, viewbox, stroke)
    - viewbox = viewbox || size
    svg(xmlns='http://www.w3.org/2000/svg' width=size[0] height=size[1] viewbox=viewbox ? "0 0 " + viewbox[0] + " " + viewbox[1] : "")
        use(fill=fill stroke=stroke xlink:href='#' + name)

//- Components
include components/_menu
include components/_breadcrumbs

doctype html
html(lang="ru")
    include components/_head
    body
        main.off-canvas-content.wrap(data-off-canvas-content)
            include sections/_header
            block content
            include sections/_footer
            //- include components/_popup
        //- include components/_offcanvas
        block js
            script(src="./js/app.min.js")
        include components/_icons